{% set modules = modules ?? entry.modules.all() ?? [] %}

<main>
	{% block modules %}
	{% for module in modules %}
		{% include ["_modules/" ~ module.type|kebab, "_modules/_undefined"] with { module: module } only %}
	{% endfor %}
	{% endblock %}


</main>
